#id-input-div-users-search {
    width: 51% !important;
    left: 24%;
    position: fixed;
    right: 50%;
    z-index: 999999;
    filter: blur(0.5px);
    opacity: 0.8;
    transition: 0.5s;
}

#id-input-div-users-search:hover {
    filter: blur(0px) !important;
    opacity: 1 !important;
    transition: 0.2s;
}

#id-input-div-users-search form input {
    color: white;
    background-color: #131313 !important;
}

#id-input-div-users-search form button {
    box-shadow: none !important;
}

.users-list {
    /* width: 100%; */
    /* background-color: wheat; */
    display: flex;
    margin-top: 100px;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

.title-list {
    width: 95%;
    margin-top: 50px;
}

.users-list h1 {
    color: white;
}

.users-list h2 {
    color: white;
    opacity: 0.2;
    font-family: monospace;
}

#myScroll {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dynamic {
    display: flex;
    width: 100%;
}

.users-list ul {
    display: flex;
    /* background-color: red; */
    width: 95%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
}


/* 
.users-list ul li {
    background-color: grey;
} */

.users-list ul li:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.li-users-list:nth-child(even) {
    background: #131313;
}

.li-users-list:nth-child(odd) {
    background: #272727;
}

.users-list ul li a {
    text-decoration: none;
    font-size: 2rem;
    margin:  4px 10px;
}

.users-list li {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px #8888;
}

.users-list li a {
    color: white;
    font-family: monospace;
}

.users-list li a:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.users-list li span {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: tomato;
    font-weight: bolder;
    line-height: 40px;
}

.users-list li span:last-child {
    /* border-left: solid 1px #8888; */
}

.users-list li span:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.div-span-report-delete {
    display: flex;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px #8888;
}