
#id-input-div-users-search{
    width: 50% !important;
    left: 24%;
    position: fixed;
    right: 50%;
}

#id-input-div-users-search form input{
    background-color: #131313 !important;

}

#id-input-div-users-search form button{
    box-shadow: none !important;
}


.users-list {
    /* width: 100%; */
    /* background-color: wheat; */
    display: flex;
    margin-top: 100px;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

.title-list {
    width: 95%;
    margin-top: 50px;
}

.users-list h1 {
    color: white;
}

.users-list ul {
    display: flex;
    /* background-color: red; */
    width: 95%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
}

.users-list ul li a {
    text-decoration: none;
}

.users-list li {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px #8888;
}

.users-list li h1 {
    color: white;
    font-family: monospace;
}

.users-list li h1:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.users-list li span {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: tomato;
    font-weight: bolder;
    line-height: 40px;
}

.users-list li span:last-child {
    /* border-left: solid 1px #8888; */
}

.users-list li span:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.div-span-report-delete {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px #8888;
}