@media (max-width: 800px) {
    .info-content {
        width: 100% !important;
    }
}

.info-class .button {
    display: flex;
    margin: none !important;
    padding: 2px 5px !important;
    z-index: 99999999;
    border-radius: 50% !important;
}

.info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

#info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #303030;
    font-family: monospace;
    border: solid 1px grey;
    margin-top: 15px;
    color: white;
}

#info h1 {
    margin: 0;
    padding: 10px;
    width: fit-content;
}

#info h4 {
    margin: 0;
    padding: 10px;
    width: fit-content;
}