@media (max-width: 800px) {
    .info-content {
        width: 100% !important;
    }
}

#id-btn-info-event {
    display: flex;
    margin: none !important;
    padding: 1px 5px !important;
    background-color: #131313;
    border-radius: 50% !important;
    border: solid 1px #8888;
    color: #8888;
    outline: none;
    transition: 0.3s;

}

#id-btn-info-event:hover {
    color: #888;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px #888;
    
}

.info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

#info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #303030;
    font-family: monospace;
    border: solid 1px grey;
    margin-top: 15px;
    color: white;
}

#info h1 {
    margin: 0;
    padding: 10px;
    width: fit-content;
}

#info h4 {
    margin: 0;
    padding: 10px;
    width: fit-content;
}