@media (max-width: 800px) {
    .modal-content {
        padding-top: 0 !important;
    }
    .ReactModal__Content {
        inset: 15px !important;
    }
    .modal-login-content {
        width: 100% !important;
    }
    .set-time-event ul {
        flex-direction: column !important;
        width: 100%;
    }
    .set-time-event {
        display: flex;
        width: 100% !important;
    }
    .login-input-modal {
        margin: 5px !important;
        width: 96% !important;
    }
    .input-div-modal-login {
        margin: 0 !important;
        width: 100% !important;
    }
    .set-time-event li {
        display: flex;
        justify-content: center;
        width: 100% !important;
    }
    .set-time-event span {
        display: flex;
        writing-mode: vertical-rl;
        align-items: center;
    }
    .add-btn-modal {
        margin: 3px !important;
        width: 97% !important;
    }
}

.modal-login-content {
    display: flex;
    width: 30%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

#btn-close-modal {
    border: none;
    padding: 0px;
    background-color: transparent;
    font-size: 3rem;
    outline: none;
    color: white;
    line-height: 30px;
    transition: 0.5s;
}

#btn-close-modal:hover {
    cursor: pointer;
    font-size: 2rem;
    transition: 0.5s;
}

.MyModal-Content form input {
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.ReactModal__Overlay {
    display: flex !important;
    justify-content: center !important;
}

.ReactModal__Content {
    display: flex;
    height: fit-content;
    background-color: transparent !important;
    justify-content: center;
}


/* =============================================== */

#modal-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #303030;
    border: solid 1px #888;
    margin-top: 10px;
    color: white;
}

#modal-login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-login form button {
    width: 95%;
    margin: 10px auto;
    padding: 0px;
    border: solid 1px #888;
    background-color: #303030;
}

#modal-login form button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

#modal-login form button h4 {
    margin: 10px auto;
    color: white;
}

#modal-login form button:hover {
    cursor: pointer;
}

#modal-login h1 {
    text-align: center;
    font-family: monospace;
}

#modal-login h4 {
    text-align: center;
    font-family: monospace;
    padding: 0;
    color: white;
    margin: 5px;
}

#modal-login h4 a {
    text-decoration: none;
    color: cornflowerblue;
}

#modal-login h4 a:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.input-div-modal-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}

.input-div-modal-login input {
    border-style: none;
    border-bottom: solid 1px #888;
    background: none;
}

.input-div-modal-login input:focus {
    outline: solid 2px white;
    outline-offset: 1px;
}

.input-div-modal-login input:hover {
    font-size: 0.7rem;
    transition: 0.5s;
}

.set-time-event ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.set-time-event ul span {
    font-size: 2rem;
}

.set-time-event li {
    width: 10%;
}

.login-input-modal {
    width: 100%;
    margin: 5px auto;
    height: 30px;
    padding: 0;
    outline: none;
    border: none;
}

#btn-add-post-modal-form {
    outline: none;
}


/* #id-login-email {} */
