@media (max-width: 800px) {
    .modal-content {
        padding-top: 0 !important;
    }
    .ReactModal__Content {
        inset: 15px !important;
    }
    .modal-clock-content {
        width: 100% !important;
    }
    .set-time-event ul {
        flex-direction: column !important;
        width: 100%;
    }
    .set-time-event {
        display: flex;
        width: 100% !important;
    }
    .clock-input-modal {
        margin: 5px !important;
        width: 94% !important;
    }
    .input-div-modal-clock {
        margin: 0 !important;
        width: 100% !important;
    }
    .set-time-event li {
        display: flex;
        justify-content: center;
        width: 100% !important;
    }
    .set-time-event span {
        display: flex;
        writing-mode: vertical-rl;
        align-items: center;
    }
    .add-btn-modal {
        margin: 3px !important;
        width: 97% !important;
    }
    .btn-cancel-save-clock {
        width: 100% !important;
        flex-direction: column !important;
        margin: 0 !important;
        margin-top: 10px !important;
    }
    #btn-cancel-clock-modal {
        margin: 0px !important;
        width: 100% !important;
    }
    #btn-save-clock-modal {
        width: 100% !important;
    }
}

.modal-clock-content {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

#btn-close-modal {
    border: none;
    padding: 0px;
    background-color: transparent;
    font-size: 3rem;
    outline: none;
    color: white;
    line-height: 30px;
    transition: 0.5s;
}

#btn-close-modal:hover {
    cursor: pointer;
    font-size: 2rem;
    transition: 0.5s;
}

.MyModal-Content {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    background-color: red;
}

.MyModal-Content h1 {
    margin: 10;
    font-family: monospace;
}

.MyModal-Content form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.MyModal-Content form input {
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
}

.ReactModal__Overlay {
    display: flex !important;
    justify-content: center !important;
}

.ReactModal__Content {
    display: flex;
    height: fit-content;
    background-color: transparent !important;
    justify-content: center;
    border: none !important;
}

.newmodal {
    display: flex;
}

#myBtn-pencil-clock {
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
    align-items: center;
    background-color: transparent;
    font-size: 1rem;
    padding: 0px;
    margin: 0;
    color: white;
}

#myBtn-pencil-clock:hover {
    opacity: 0.5;
    transition: 0.5s;
}


/* =============================================== */

#modal-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #303030;
    border: solid 1px #888;
    margin-top: 10px;
}

#modal-clock h1 {
    margin: 10px;
    color: white;
    font-family: monospace;
}

#modal-clock input:hover {
    font-size: 0.7rem;
    transition: 0.5s;
}

#modal-clock form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.input-div-modal-clock {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    width: 100%;
    padding-top: 10px;
}

.set-time-event ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.set-time-event ul span {
    font-size: 2rem;
    color: #888;
}

.set-time-event li {
    width: 10%;
}

.clock-input-modal {
    width: 100%;
    margin: 5px auto;
    height: 30px;
    outline: none;
    border-bottom: solid 1px #888 !important;
    border-style: none;
    padding: 0px;
    background-color: #303030;
    color: white;
}

#id-event-title {
    padding: 0;
    width: 95%;
}

.navtop-file-input-modal-border-doted {
    display: flex !important;
    flex-direction: column;
    width: 97%;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
    border: solid 1px;
    border: 2px dashed grey;
    justify-content: center;
}

.navtop-file-input-modal {
    width: inherit !important;
    outline: none;
    padding: 50% 0 50% 0;
    cursor: pointer;
    max-width: max-content;
    margin: inherit;
}

.clear-prvw {
    border: none;
    background-color: lightgray;
    border-top: 2px dashed grey;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.set-info-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.set-info-event h1 {
    margin: 10px;
    color: white;
    font-family: monospace;
}

.set-info-event ul {
    text-decoration: none;
    list-style: none;
    margin: 10px;
    padding: 0;
}

.btn-cancel-save-clock {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#btn-cancel-clock-modal {
    display: flex;
    justify-content: center;
    width: 20%;
    border: solid 1px #888 !important;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0;
    height: auto;
    background-color: #303030;
    border-radius: 0px;
    color: white;
    font-family: monospace;
    margin: auto 10px;
}

#btn-cancel-clock-modal h3 {
    margin: 0;
    padding: 10px;
}

#btn-save-clock-modal {
    display: flex;
    justify-content: center;
    width: 20%;
    border: solid 1px #888 !important;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0;
    height: auto;
    background-color: #303030;
    border-radius: 0px;
    color: white;
    font-family: monospace;
}

#btn-save-clock-modal h3 {
    margin: 0;
    padding: 10px;
}

#btn-cancel-clock-modal:hover {
    opacity: 0.5;
    transition: 0.3s;
    border: solid 1px lightcoral !important;
    color: lightcoral;
}

#btn-save-clock-modal:hover {
    opacity: 0.5;
    transition: 0.3s;
    border: solid 1px lightblue !important;
    color: lightblue;
}