@media (max-width: 800px) {
    .loginpanel-div {
        flex-direction: column !important;
    }
    .loginpanel-left {
        width: 100% !important;
    }
    .loginpanel-right {
        width: 100% !important;
    }
}

.loginpanel-div {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: #303030;
    font-family: monospace;
}

.loginpanel-left {
    display: flex;
    background-color: #303030;
    width: 50%;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #888;
}

.loginpanel-left h1 {
    color: white;
}

.loginpanel-right {
    display: flex;
    background-color: #303030;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #888;
    color: white;
}

.loginpanel-right h1 {
    color: white;
}

.loginpanel-right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginpanel-right form select {
    display: flex;
    border: none;
    width: 97%;
    margin: 10px;
    padding: 0;
    outline: 0;
    height: 40px;
}

.loginpanel-right form select option {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 20px;
    background-color: #303030;
    font-size: 1rem;
    line-height: 10px;
}

.radio-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

.radio-input input {
    margin: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    mix-blend-mode: color-burn;
}

.text-input {
    height: 40px;
    width: 300px;
    outline: none;
    margin: 3px;
    background-color: whitesmoke;
    border-style: none;
    background: none;
    border-bottom: solid 1px #888;
}

#id-radio-input-male #text {
    color: skyblue !important;
}

#id-radio-input-female {
    color: skyblue;
}

#id-radio-input-other {
    color: skyblue;
}

.loginpanel-right a {
    text-decoration: none;
    color: lightskyblue;
}

.loginpanel-right a:hover {
    opacity: 0.5;
}

.loginpanel-right button {
    display: flex;
    background-color: #303030;
    width: 305px;
    border: solid 0.1px #888;
    outline: lightskyblue;
    cursor: pointer;
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
    justify-content: center;
}

.loginpanel-right input:focus {
    outline: solid 1px white;
    outline-offset: 1px;
}

.loginpanel-right input:hover {
    font-size: 0.6rem;
    transition: 0.5s;
}

.loginpanel-right button:hover {
    opacity: 0.5;
    transition: 0.5s;
}