body {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    background-color: #131313;
}

@media (max-width: 800px) {
    .navbar-top {
        width: 100% !important;
        position: fixed;
        /* top: 5px !important; */
    }
    .logo-div {
        display: none !important;
    }
    #modal-posts {
        align-items: center;
    }
    .navtop-input-modal {
        margin: 10px auto !important;
    }
    .input-div-modal {
        margin: 0px !important;
    }
    .notifi-div {
        width: 50% !important;
    }
    #empty-content {
        margin-top: 50px !important;
    }
    #content {
        width: 99.5% !important;
    }
    /* .post-header {} */
    #user-p-text {
        margin: 0 auto;
        line-break: anywhere;
        margin-left: inherit;
    }
    .modal-content {
        width: 100% !important;
        padding-top: 10% !important;
    }
    .modal {
        padding-top: 10% !important;
    }
    .vote-direction {
        flex-direction: column !important;
    }
    .btn-sidebar {
        display: none !important;
    }
    .input-div {
        width: 50% !important;
    }
}

.navbar-top {
    display: flex;
    width: 100%;
    z-index: 9999;
    top: 0;
    position: fixed;
    left: 0;
    height: 50px;
    background-color: #303030;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid 1px #8888;
    align-items: center;
    /* border-radius: 5px; */
}

.navbar-top span {
    transition: 0.2s;
}

.navbar-top span:hover {
    cursor: pointer;
    filter: drop-shadow(5px 2px 5px black);
    transition: 0.2s;
}

.btn-sidebar {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 63px;
    left: 0px;
    border-right: 1px solid #8888;
}

.btn-sidebar span {
    padding: 13px;
    font-size: 1.5rem;
}

.logo-div {
    display: flex;
    width: auto;
}

.logo-div h1 {
    margin: 0;
    font-family: monospace;
}

.logo-div a {
    text-decoration: none;
    color: black;
}

.logo-div a:hover {
    color: lightgray;
}

.input-div {
    width: 30%;
    display: flex;
    align-items: center;
    height: 34px;
    margin: 0px 0px 0px 9px;
    background-color: #4b4a4a;
    justify-content: center;
    border-radius: 1px;
}

.input-div form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input-div button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    height: 30px;
    width: 100px;
    background-color: #303030;
    outline: none;
    margin-right: 2px;
    color: #8b8b8b;
}

.input-div button:hover {
    cursor: pointer;
    background-color: #272727;
    transition: 0.5s;
}

.navtop-input {
    width: 75%;
    height: 30px;
    margin-left: 3px;
    outline: none;
    font-family: monospace;
    border: none;
}

.notifi-div {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.notifi-div .fa {
    transition: 0.2s;
}

.notifi-div .fas {
    transition: 0.2s;
}

.notifi-div .fa:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.notifi-div a {
    color: black;
    margin: 0px;
}

.notifi-div i {
    font-family: "FontAwesome" !important;
    font-style: initial !important;
}

.fa.fa-user {
    text-underline-position: from-font;
}

#user-log-status {
    margin: 0px;
    padding: 0px;
    display: flex;
    border-radius: 100%;
    height: 20px;
    justify-content: center;
    border: solid 2px red;
    width: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    align-items: center;
}

.dropdown-content-notifi {
    display: none;
    left: -75px !important;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}