@media (max-width: 1200px) {
    .sidebar {
        display: none !important;
    }
}

.sidebar {
    display: flex;
    position: absolute;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 51px;
    left: 0;
    align-items: center;
    width: 63px;
    min-height: 94%;
    background-color: #303030;
    border-right: solid 1px #8888;
    font-family: monospace;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    max-width: -webkit-fill-available;
}

.sidebar li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 20px;
    transition: 0.2s;
}

.sidebar li:hover {
    border-right: solid 3px lightgrey;
    box-shadow: 0 0 15px 0 hsla(0, 0%, 50.6%, 0.22);
    cursor: pointer;
    transition: 0.25s;
}

.fa.fa-globe {
    font-family: "FontAwesome";
    font-size: 1.5rem;
}

.fa.fa-gear {
    font-family: "FontAwesome";
    font-size: 1.5rem;
}

.fa.fa-fire {
    font-family: "FontAwesome";
    font-size: 1.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1rem;
}

.tooltiptext .tooltip-right {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip span:last-child {
    font-weight: 300;
    font-family: monospace;
}

.tooltip-right {
    top: 0px;
    left: 140%;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.side-arrows {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    border: solid 1px #8888;
    margin-left: -7px;
    padding: 3px;
    border-radius: 3px;
}

.side-arrows span {
    font-size: 2rem;
    color: #808080;
}

.side-arrows span:first-child:hover,
.side-arrows span:last-child:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}