@media (max-width: 1200px) {
    .sidebar {
        display: none !important;
    }
}

.sidebar {
    display: flex;
    position: absolute;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 51px;
    left: 0;
    align-items: center;
    width: 63px;
    min-height: 94%;
    background-color: #303030;
    border-right: solid 1px #888;
    font-family: monospace;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    max-width: -webkit-fill-available;
}

.sidebar li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 20px;
    transition: 0.2s;
}

.sidebar li:hover {
    border-right: solid 3px lightgrey;
    box-shadow: 0 0 15px 0 hsla(0, 0%, 50.6%, 0.22);
    cursor: pointer;
    transition: 0.25s;
}