@media (max-width: 800px) {
    .countdowncontainer {
        width: 100% !important;
    }
    .info-title {
        font-size: 2.5rem !important;
    }
    .info-time {
        font-size: 3rem !important;
    }
}

.content-clock {
    display: flex;
    width: 100%;
    justify-content: center;
}

.countdowncontainer {
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
    /* background: #ddd; */
    /* border: 1px solid #999; */
    padding: 10px;
    color: white;
}

.info-title {
    font-size: 3rem;
    font-family: sans-serif;
}

#neweventtitle {
    line-break: auto;
    word-break: break-word;
}

#neweventtitle p {
    margin: 0;
    padding: 0;
}

.mytooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.mytooltip #id-mytooltip {
    visibility: hidden;
    width: 100%;
    background: #303030;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 0;
    opacity: 1 !important;
    font-size: 1rem;
}

.mytooltip #id-mytooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #303030 transparent transparent transparent;
}

.mytooltip:hover #id-mytooltip {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.mytooltip p {
    text-decoration: none !important;
    font-style: none !important;
    color: white;
    transition: 0.5s;
    display: -webkit-inline-box;
}

.mytooltip p:hover {
    opacity: 0.5;
    transition: 0.2s;
}

#id-mytooltip tr {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    align-items: center;
}

#id-mytooltip tr td {
    margin: 0 5px 0 5px;
    display: flex;
}

#id-plus-sign {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: 0.5;
    background: none;
    border: none;
    color: white;
    outline: none;
}

#id-plus-sign:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.info-time {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 4rem;
    font-family: sans-serif;
}

.info-time span {
    font-size: 0.7rem;
}

#days,
#hours,
#minutes,
#seconds {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-time-name {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: monospace;
}

.info-time-name td {
    width: 100px;
}


/* The Modal (background) */


/* .countdown-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
} */


/* Modal Content */


/* .modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
}

.modal-content p {
    margin: 0 auto;
} */


/* The Close Button */


/* .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.set-time-div {
    display: flex;
    width: 100%;
    padding: inherit;
    flex-direction: row;
    justify-content: center;
}

.set-time-div input {
    border: solid 2px;
    border-radius: 5px;
} */